{% extends 'base.html' %}
{% load static %}
{% block pagetitle %}
Your Profile
{% endblock %}
{% block content %}

<div class="container">
<p style="background-color: #FFFFFF">Your are logged in as <b>{{request.user}}</b> with email <b>{{request.user.email}}</b></p>
{% if request.user.is_staff %}
    <h3>You have staff permissions. <a class="red-text" href="{% url 'staff-review' %}" style="background-color: #FFFFFF">Go to Content Review Home </a></h3>
{% endif %}
<br>
<a href="{% url 'password_change' %}" style="background-color: #FFFFFF">Need to change password?</a>
<hr>
<h1>Instructor's Dashboard</h1>
<h3>Courses</h3>
<a href="{% url 'create_course' %}" style="background-color: #FFFFFF">Create a new course</a>
<br>
<br>
<div id="response"></div>
<ul class="collection">
    {% for course in courses %}
        <li class="collection-item" style="background-color: #FFFFFF">
            <h3>{{ course }}</h3>
            <a href="{% url 'responses_course' course.id%}">View results</a>
            <a id="{{ course.id }}" href="#">View participants</a>
                <div id="participants-{{ course.id }}">
                    {% for participant in course.participants.all %}
                        <p>{{ participant }}</p>  <a id="{{ participant.id }}-{{ course.id }}" class="unenroll">Unenroll</a>
                        {% endfor %}
                </div>
        </li>
    {%  endfor %}
</ul>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$( document ).ready(function() {

    $("[id^=participants-]").hide();

    $('a').click(function () {
        var id = $(this).attr('id');
        $('#'+id).hide();
        $('#participants-'+id).show();
    })
    $('.unenroll').click(function () {
        var id = $(this).attr('id');
        var courseid = id.split('-')[1];
        var student = id.split('-')[0];
        if (confirm('Are you sure you want to unenroll this student?')) {
            $.ajax({
                type: 'POST',
                url: '/unenroll',

                data: {
                    course: courseid,
                    student: student,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    $("#response").html(json['message']);
                    //$("#participants-"+courseid).load(document.URL );
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        }
    })


});
        </script>
{% endblock %}