{% extends 'base.html' %}
{% load static %}
{% block pagetitle %}
Create InContext Account
{% endblock %}

{% block content %}
    {% if error %}
<div class="section scrollspy">
        <div class="container">
    <div class="card-panel grey lighten-5 z-depth-1" id="description">
                <h5>{{ error }}</h5>
                <div class="row valign-wrapper">
                    <div class="col s12">
                        <div class="row">
                            {% else %}
<div class="card-panel grey lighten-5 z-depth-1" id="description">
                <h5>To signup for an account, please provide a valid e-mail address:</h5>
                <div class="row valign-wrapper">
                    <div class="col s12">
                        <div class="row">
		<form method="post" action=".">
			{% csrf_token %}
			{{ form }}
			<p  class="text-center"><button class="btn-block" type="submit">Signup</button></p>

			<input type="hidden" name="next" value="{{ next }}" />
		</form>

	{% endif %}
  </div>
                        </div>
                    </div>
</div>
    </div>
    </div>
    </div>


{% endblock %}
{% block includenavbar %}{% endblock %}
{% block includesitenavicon %}{% endblock %}