{% extends 'base.html' %}

{% block pagetitle %}
InContext Login
{% endblock %}

{% block content %}
<div class="section scrollspy">
    <div class="container">
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
    <div class="card-panel grey lighten-5 z-depth-1" id="description">
                <h5>Sign in</h5>
                <div class="row valign-wrapper">
                    <div class="col s12">
                        <div class="row">
                            <form method="post" action="" class="col s12">
                            {% csrf_token %}
                            <div class="row">
                                    <div class="input-field col s6">
                                        <p>{{ form.username.label_tag }}</p>
                                        <p>{{ form.username }}</p>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                   <p> {{ form.password.label_tag }}</p>
                                    <p>{{ form.password }}</p>
                                </div>
                            </div>
                            <button class="btn" style="background-color: #309ece;" type="submit" name="action">Sign in
                                <i class="material-icons right">send</i>
                            </button>


                            </form>
                        </div>
                    </div>
                </div>
        <A href="{% url 'home' %}request-user">Click here if you need to create an account</A>
	<br>
	<br>
	<A href="{% url 'home' %}password_reset">Click here if you need to reset your password</A>
    </div>
    </div>
</div>
{% endblock %}
{% block includesitenavicon %}{% endblock %}
{% block includenavbar %}{% endblock %}