{% extends 'base.html' %}

{% block pagetitle %}
Request Password Reset
{% endblock %}

{% block content %}
<div class="section scrollspy">
    <div class="container">

  <h3>Forgot password?</h3>
<p>Please, enter your email to request a password change. You will receive an email with instructions. Do not forget to check your spam folder.</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>

    </div>
</div>
{% endblock %}
{% block includenavbar %}{% endblock %}
{% block includesitenavicon %}{% endblock %}