{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0" />
    <meta name="theme-color" content="#2196F3">

    <title>InContext</title>
    {%if GA_MEASUREMENT_ID %}
    <script async="https://www.googletagmanager.com/gtag/js?id={{ GA_MEASUREMENT_ID }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ GA_MEASUREMENT_ID }}');
    </script>
    {% endif %}
    <!-- CSS  -->

    <link href="{% static '/assets/min/custom-min.css' %}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static '/assets/css/materialize.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static '/assets/css/nouislider.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static '/assets/css/rangeslider.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static '/assets/css/new_style.css' %}" type="text/css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static '/assets/img/favicon.ico' %}" type="image/x-icon">
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->

</head>

<body id="top" class="scrollspy">

    <!-- Pre Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <!--Navigation-->
    <header>
        <div class="navbar-fixed">
            <nav id="nav_f" style="background-color: #221f1f" role="navigation">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="{% url 'home' %}" class="brand-logo left">
                            <img src="{% static '/media/brand/horizontal/IC Full Logo Horizontal Full Color Alt.png' %}"
                                alt="InContext Home" height="60" />
                        </a>
                        
                        <a href="{% url 'user_profile' %}" class="button-collapse right" data-activates="nav-mobile">
                            <i style="color: #fbd1a2;" class="large material-icons">person</i>
                        </a>
                        {% if request.user.is_staff %}
                        <a href="{% url 'staff-review' %}" class="button-collapse right" data-activates="nav-mobile" style="color: #24779b">
                            <i class="large material-icons">security</i>
                        </a>
                        {% endif %}

                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            
                            {% if request.user.is_staff %}
                            <li>                                
                                <a href="{% url 'staff-review' %}" class="right" style="color: #24779b"><i class="large material-icons">security</i></a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'user_profile' %}">
                                    <i style="color: #fbd1a2;" class="large material-icons">person</i>
                                </a>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer-copyright" style="background-color: #fff;">
        <div class="container">
            <div class="row">
                <div class="col l0 s12">
                    <div class="center-align">
                        <p><a href="https://thelanguageflagship.tech" target="_blank"><img
                                    src="{% static '/media/brand/Tech-Center-Logo.png' %}" style="width: 15em;"
                                    class="responsive-img" alt="The Language Flagship Technology Innovation Center"></a></p>
                    </div>
                    <div class="center-align">
                        <p><img src="{% static '/assets/img/cc-license.png' %}" style="width: 7em;"
                                class="center-align responsive-img" alt="Creative Commons License BY-NC-SA"></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="{% static '/assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/assets/min/custom-min.js' %}"></script>
    <script src="{% static '/assets/js/materialize.min.js' %}"></script>
    <script src="{% static '/assets/js/ajax.js' %}"></script>
    <script src="{% static '/assets/js/nouislider.min.js' %}"></script>
    <script src="{% static '/assets/js/create_slider.js' %}"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    {% block js %}
    {% endblock %}
</body>

</html>