{% extends 'base.html' %}
{% load static %}
{% block pagetitle %}
InContext Content Review Mode
{% endblock %}
{% block content %}

<div class="container red">
    <h1 class="center-align white-text p-5">Content Review Mode</h1>
    <br>
    {% for i in languages %}
        {% if i.url != 'L' %}
        <a href="{% url 'modules' i.url %}">  
            <img src="{% static 'media/' %}{{i.image_url}}"  alt="{{i.lang_name}}" class="responsive-img">
        </a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}