{% extends 'base.html' %}
{% load static %}
{% block pagetitle %}
InContext Content Review Mode
{% endblock %}
{% block content %}

<div class="container red">
    <h1 class="center-align white-text p-5">Content Review Mode</h1>
    <br>
    {% for i in languages %}
    <div style="position: relative; display: inline-block; padding-top: 5px">
        <a href="{% url 'modules' i.url %}">  
            <img src="{% static 'media/' %}{{i.image_url}}"  alt="{{i.lang_name}}" class="responsive-img">
            {% if i.lang_name == 'Japanese' or i.lang_name == 'Japanese-in-English' %}
            <div class="title-card">
                <h1 class="title-label">
                    {{ i.lang_display }} 
                </h1>
            </div>
            {% endif %}
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}