{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="section scrollspy">
    <div class="container">
        <img src="{% static 'media/' %}{{img_url}}"  class="responsive-img center-fit-image">
        {% for obj in modules %}
        <div class ="card custom-card-color custom-scroll-margin" id="{{ obj.name}}">
            <div class="card-section">
                <a href="#{{ obj.name}}" data-blurbshort="{{ obj.id}}" tabindex="0">
                    <span class="custom-card-title-1">{{ obj.name }}</span>                    
                    {{ obj.blurb|safe }}
                    <p class="more-less">More</p>
                </a>
                <a href="#{{ obj.name}}" data-blurbfull="{{ obj.id}}" tabindex="0">
                    <span class="custom-card-title-1">{{ obj.name }}</span>
                    {{ obj.blurb|safe }}
                    {{ obj.introduction|safe }}
                    <p class="more-less">Less</p>
                </a>
                {% if request.user.is_staff %} 
                <span class="custom-card-subtitle-1"><a href="{% url 'home' %}admin/culture_content/module/{{obj.pk}}/change" target="_blank">edit {{ obj.name }}</a></span>
                {% endif %} 
            </div>

            <div class="card-section">
                <a href="#{{ obj.name}}" data-topicsshort="{{ obj.id}}" tabindex="0">
                    <i class="material-icons">keyboard_arrow_right</i><span class="custom-card-title-2">Topics</span>
                </a>
                <a href="#{{ obj.name}}" data-topicsfull="{{ obj.id}}" tabindex="0">
                    <i class="material-icons">keyboard_arrow_down</i><span class="custom-card-title-2">Topics</span><p/>
                    {% for top in obj.topics.all|dictsort:"order" %}
                        <a href="{% url 'home' %}top/{{ top.pk }}" class="button button-title" data-topicsfull="{{ obj.id}}" tabindex="0">{{ top.name }}</a><p/>
                    {% endfor %}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block js %}
    <script>
    $(document).ready(function() {
        $('[data-blurbfull]*').hide();
        $('[data-topicsfull]*').hide();
        $('[data-blurbshort]').click(function(){
            var id = $(this).attr('data-blurbshort');
            $(this).hide();
            $('[data-blurbfull='+id+']').show();
            $('[data-topicsshort='+id+']').hide();
            $('[data-topicsfull='+id+']').show();
    });
    $('[data-blurbfull]').click(function(){
        var id = $(this).attr('data-blurbfull');
        $(this).hide();
        $('[data-blurbshort='+id+']').show();
        $('[data-topicsshort='+id+']').show();
        $('[data-topicsfull='+id+']').hide();
    });
    $('[data-topicsshort]').click(function(){
            var id = $(this).attr('data-topicsshort');
            $(this).hide();
            $('[data-topicsfull='+id+']').show();
    });
    $('[data-topicsfull]').click(function(){
        var id = $(this).attr('data-topicsfull');
        $('[data-topicsfull='+id+']').hide();
        $('[data-topicsshort='+id+']').show();
    })
    })
    </script>
{% endblock %}