{% extends 'base.html' %}
{% load static %}
{% block content %}
Scenario Statistics for Individual Course
<div class="container">
<br>

<a class="button button-title" href="{% url 'home' %}course_results/{{ course_id }}/">Return to summaries</a>
    <hr>
<table id="results" class="display">

        <thead>
          <tr>
              <th>Option</th>
              <th>Attempts</th>
              <th>% in agreement with reference</th>
          </tr>
        </thead>
<tbody>
{% for stat in stats %}
          <tr>
            <td>{{ stat.0|safe }}</td>
            <td>{{ stat.1 }}</td>
            <td>{{ stat.2 }}</td>
          </tr>
{% endfor %}
</tbody>
      </table>


</div>
{% endblock %}
{% block js %}
<script>
$(document).ready( function () {
    $('#results').DataTable();
} );
</script>
{% endblock %}