{% extends 'base.html' %}
{% load static %}
{% block pagetitle %}
User Responses
{% endblock %}
{% block content %}

<div class="container">
<br>
{% if user_language == 'L'%}
    <a href="{% url 'home' %}dashboard" class="waves-effect blue btn" id="desbutton" >Return to dashboard</a>
    <hr>
{% endif %}
{% if  '/A/' in request.path   %}
         <h2>Summary for Arabic situations</h2>
    {% elif '/C/' in request.path %}
         <h2>Summary for Chinese situations</h2>

    {% elif '/R/' in request.path %}
         <h2>Summary for Russian situations</h2>
    {% endif %}
<p>The following table presents user results on judgment tasks in situations (scenarios) in InContext.
    The table lists situations in your language as rows in a table. The table combines data from all users in that language.</p>
<p>For each listed situation, you can see the total number of times the judgment task associated with the listed situation was attempted ("Attempts").To the right of this number, you will see a percentage ("% in agreement with reference") that indicates, for the total of all options presented in that situation's judgment task, in what proportion of responses the user's slider fell within the zone or band of reference opinions.
    If a user's slider fell outside this band, no matter whether close or far away, their response was counted as "not in agreement."</p>
<p>To see more detail on the user responses elicited in any situation's judgment task, click on "Details"; this will show similar figures with regard to each option in the task.</p>
{% if user_language in request.path or user_language == 'L'%}
<table id="results" class="display">
        <thead>
          <tr>
              <th>Scenario</th>
              <th>Attempts</th>
              <th>% in agreement with reference</th>
              <th>Details</th>
          </tr>
        </thead>
<tbody>
{% for stat in stats %}
          <tr>
            <td>{{ stat.0.name }}</td>
            <td>{{ stat.1.0 }}</td>
            <td>{{ stat.1.1 }}</td>
            <td><a href="{% url 'home' %}responses/scenario/{{ stat.0.id }}">View</a></td>
          </tr>
{% endfor %}
</tbody>
      </table>
    <br>
{% else %}
<h4>You do not have permission to access this page </h4>
{% endif %}


</div>
{% endblock %}
{% block js %}
<script>
$(document).ready( function () {
    $('#results').DataTable();
} );
</script>
{% endblock %}